extends partial/layout

block site_title
      != 'Tags | ' + config.title

block container
    .tags
      != tagcloud({ min_font: 16, max_font: 35, amount: 999, color: true, start_color: '#42b983', end_color: '#225924', })

