.tag-list time {
    font-size: 14px;
}
.tag-list li {
    border-bottom: 1px dashed #ddd;
    line-height: 55px;
}
.tag-list li .list-title {
    font-size: 16px;
    line-height: 32px;
    display: inline;
    margin-left: 20px;
    display: inline;
}
.post-meta a {
  color: #7f8c8d
}
.tags {
    max-width: 40em;
    margin: 2em auto;
    margin-top: 0em;
}
.tags a {
    margin-right: 1em;
    border-bottom: 1px dashed; /*#42b983;*/
    line-height: 65px;
    white-space: nowrap;
}
.tags a:hover {
    border-bottom: 2px dashed;
    font-style: italic;
    text-decoration: none;
}
