.category-list li{
    display: inline-block;
    margin: 0 1em .5em 0;
    padding: 4px;
    border: 1px solid lightgray;
    font-size: 1.2em;
}
.category-list a {
    color: gray;
}
.category-list-item:hover a {
    color: gray;
    text-decoration: none;
    font-weight: bold;
}
.category-list-count {
    margin-left: 2px;
    font-size: .9em;
}
.article-entry ul li:before{
    display: none;
}
.article-inner  {
    text-align: center;
}
.post-meta a {
  color: #7f8c8d
}
.tags {
    max-width: 40em;
    margin: 2em auto;
    margin-top: 0em;
}
.tags a {
    margin-right: 1em;
    border-bottom: 1px solid; /*#42b983;*/
    line-height: 65px;
    white-space: nowrap;
}
.tags a:hover {
    border-bottom: 2px solid;
    font-style: italic;
    text-decoration: none;
}
