mixin postInfo(item)
    .post-meta
        .post-time
            != full_date(item.date, 'll')
            if item.tags && item.tags.length
                != " | ["
                != list_tags(item.tags, { show_count: false, style: 'none', separator: ', ' })
                != "]"

//- Index Page
mixin posts()
    ul.home.post-list
        - page.posts.each(function (item) {
            li.post-list-item
                article.post-block
                    h2.post-title
                        a.post-title-link(href= url_for(item.path))
                            != item.title
                    +postInfo(item)
                    .post-content
                        != item.excerpt
                    a.read-more(href= url_for(item.path))!= __('more')
        - })

//- Archive Page
mixin postList()
    .archive
        - var year = 0;
        - var change = false;
        - page.posts.each(function (item) {
            - var itemYear = date(item.date, 'YYYY') - 0;
            - change = year !== itemYear;
            - year = change ? itemYear : year;
            if change 
                h2.archive-year!= year
            .post-item
                +postInfo(item)
                a.post-title-link(href= url_for(item.path))
                    != item.title
        - })

//- Post Page
mixin post(item)
    - var type = item.type
       if type == 'tags'
          .tags
            != tagcloud({ min_font: 16, max_font: 35, amount: 999, color: true, start_color: '#42b983', end_color: '#225924', })
       else
          .post
            article.post-block
                h1.post-title
                    != item.title
                +postInfo(item)
                .post-content
                    != item.content
